
<div class="s-container"  [style.direction]="direction()">
    <div>
    
    <div>
        <div class="row ">
            <div class="col mb-1"></div>
           <div class="col mb-3">
                <label for="idfirstMidStr" class="form-label">1st Date</label>
                <div class="input-group mb-3">
                    <input type="text"  id="idfirstMidStr" [(ngModel)] = "firstMidStr">
                </div>
           </div>
           <div class="col mb-3">
                <label for="idnDays" class="form-label">N Days</label>
                <div class="input-group mb-3">
                    <input type="number"  id="idnDays" [(ngModel)] = "nDays">
                </div>
            </div>
          <div class="col">
                <button class="btn btn-primary" (click)="toGenerateFrame()">
                    Create Frame</button>
                <div ><strong> {{fbString}}</strong></div>
           </div>
        </div>
    
     </div>

    <table class="table table-success table-hoover" style="width:100%" [style.direction]="direction()">
        <thead>
            <tr class="row-title">
                <th  scope="col" [style.width]="dayPartWidth +'%'" >
                    #
                </th>
                <th scope="col" class="border-lr2" [style.width]="titleWidth +'%'" 
                    >
                    {{leftTopTitle}}
                </th>
            
                <th  scope="col" *ngFor="let day of dayAxis"
                        [style.width]="colWidth + '%'" 
                        [style.textAlign]="'center'"> 
                        {{day.dayName}}
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let _dayPartSites of dayPartSites">
                <tr class="row-watches" *ngFor="let siteRow of _dayPartSites.rows ; 
                    let nRow=index"
                    
                    >
                    <td [ngClass]="{'border-top2': nRow === 0}">
                        <i class={{_dayPartSites.faClass}}> </i>
                    </td>
                    
                    <td [ngClass]="{'border-top2': nRow === 0,'border-lr2':true}" 
                    [style.text-align]="localAlign()" class="">
                        {{siteRow.site.name}}
                    </td>
                    <td  [ngClass]="{'border-top2': nRow === 0}"
                        *ngFor="let watch of siteRow.watches "
                            [style.width]="colWidth + '%'" 
                            [style.textAlign]="'center'"> 
                        <div class="watch-cell s-tooltip" *ngIf="watch !== undefined"
                            [style.width]="'100%'" 
                            [style.color]="watch.guardColor"
                            [style.background]="watch.guardBack"
                            [style.text-align]="localAlign()"
                            (click)="onWatchCell(watch)"
                            >
                                <span class="watch-name" > 
                                    {{watch.watchText}}
                                </span> 
                            <div class="s-tooltip-text" >
                                <div>
                                    <strong>{{watch.watchToolTip}}</strong>
                                </div>
                                <div style="direction:ltr" >
                                    {{watch.begStr}} - {{watch.endStr}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="watch === undefined">
                            <i class="fas fa-ban" style="color:red"></i>
                        </div>
      
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>    
</div>

<!--<tbody> 
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> 
  </tbody>-->

